<div class="row">
    <div class="col-lg-6">
        <dl class="dl-horizontal">
            <dt>Difference on incomes:</dt>
            <dd>
                <euro-currency amount="{{ yard.summary.deltaPaid }}"></euro-currency>
                &nbsp;&nbsp;*Paid incomes - **Paid expenses
            </dd>
            <dt>*Total paid incomes:</dt>
            <dd>{{ yard.summary.paidIncomes |euroCurrency }}</dd>
            <dt>**Total paid expenses:</dt>
            <dd>{{ yard.summary.paidExpenses |euroCurrency }}</dd>
            <dt>Total expenses to be paid:</dt>
            <dd>{{ yard.summary.unPaidExpenses |euroCurrency }}</dd>
        </dl>
    </div>
    <div class="col-lg-6">
        <dl class="dl-horizontal">
            <dt>Yard value:</dt>
            <dd>{{ yard.contractTotalAmount |euroCurrency }}</dd>
            <dt>Missing incomes:</dt>
            <dd>{{ yard.summary.deltaMissingIncome |euroCurrency }}</dd>
            <dt>Description:</dt>
            <dd>{{ yard.description }}</dd>
        </dl>
    </div>
</div>
<h5>
    <file-download name="Income report" url="/reports/yards/{{ yard.id }}/incomes"></file-download>
    <file-download name="Expense report" url="/reports/yards/{{ yard.id }}/expenses"></file-download>
</h5>